
body {
    background-color: whitesmoke;
    border: 1px solid rgb(236, 234, 236);
}

.componia-window-title {
    background-color: rgb(236, 234, 236);
}

.componia-title-text {
    color: black;
}

.componia-close {
    background-color: rgb(249, 125, 104);
}

.componia-minimize {
    background-color: rgb(251, 200, 78);
}

.componia-maximize {
    background-color: rgb(67, 191, 88);
}

.componia-close:hover {
    background-color: rgb(252, 93, 69);
}

.componia-minimize:hover {
    background-color: rgb(236, 162, 2);
}

.componia-maximize:hover {
    background-color: rgb(16, 173, 43);
}